.otherRecipe {
  position: absolute;
  font-size: medium;
  left: 43%;
  bottom: 20%;
}

.step1Image {
  width: 65px;
  height: 65px;
  position: absolute;
  background-image: url(./img/step1.png);
  background-size: cover;
  border-radius: 30px;
  left: 53%;
  top: 19%;
}

.step2Image {
  width: 65px;
  height: 65px;
  position: absolute;
  background-image: url(./img/step2.png);
  background-size: cover;
  border-radius: 30px;
  left: 53%;
  top: 39%;
}

.step3Image {
  width: 65px;
  height: 65px;
  position: absolute;
  background-image: url(./img/step3.png);
  background-size: cover;
  border-radius: 30px;
  left: 53%;
  top: 59%;
}

.recipe1 {
  width: 500px;
  height: 300px;
  position: absolute;
  background-image: url(./img/recipe1.jpg);
  background-size: cover;
  border-radius: 30px;
  left: 8%;
  bottom: 38%;
}

.otherRecipe1 {
  width: 450px;
  height: 120px;
  position: absolute;
  background-image: url(./img/salad.jpg);
  background-size: cover;
  border-radius: 30px;
  left: 12%;
  bottom: 5%;
}

.otherRecipe2 {
  width: 450px;
  height: 120px;
  position: absolute;
  background-image: url(./img/banana.jpg);
  background-size: cover;
  border-radius: 30px;
  right: 10%;
  bottom: 5%;
}

.step1 {
  position: absolute;
  font-size: x-large;
  left: 60%;
  top: 18%;
}

.step2 {
  position: absolute;
  font-size: x-large;
  left: 60%;
  top: 40%;
}

.step3 {
  position: absolute;
  font-size: x-large;
  left: 60%;
  top: 61%;
}

.frame4 {
  width: 10%;
  height: 80%;
  position: absolute;
  top: 11%;
  right: 5%;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 60px #dfe6f0;
}

.returnButton {
  font-size: x-large;
  position: absolute;
  top: 45%;
  left: 30%;
}

.foodRecHeader {
  position: absolute;
  top: 5%;
  left: 7%;
  font-size: large;
  font-weight: bold;
}