.otherRecipe {
  position: absolute;
  font-size: medium;
  left: 43%;
  bottom: 18%;
}

.step1Image {
  width: 65px;
  height: 65px;
  position: absolute;
  background-image: url(./img/step1.png);
  background-size: cover;
  border-radius: 30px;
  left: 53%;
  top: 16%;
}

.step2Image {
  width: 65px;
  height: 65px;
  position: absolute;
  background-image: url(./img/step2.png);
  background-size: cover;
  border-radius: 30px;
  left: 53%;
  top: 39%;
}

.step3Image {
  width: 65px;
  height: 65px;
  position: absolute;
  background-image: url(./img/step3.png);
  background-size: cover;
  border-radius: 30px;
  left: 53%;
  top: 61%;
}

.recipe1 {
  width: 500px;
  height: 300px;
  position: absolute;
  background-image: url(./img/recipe1.jpg);
  background-size: cover;
  border-radius: 30px;
  left: 8%;
  bottom: 38%;
}

.otherRecipe1 {
  width: 450px;
  height: 120px;
  position: absolute;
  background-image: url(./img/salad.jpg);
  background-size: cover;
  border-radius: 30px;
  left: 12%;
  bottom: 4%;
}

.otherRecipe2 {
  width: 450px;
  height: 120px;
  position: absolute;
  background-image: url(./img/banana.jpg);
  background-size: cover;
  border-radius: 30px;
  right: 10%;
  bottom: 4%;
}

.step1 {
  position: absolute;
  font-size: x-large;
  left: 60%;
  top: 15%;
}

.step2 {
  position: absolute;
  font-size: x-large;
  left: 60%;
  top: 40%;
}

.step3 {
  position: absolute;
  font-size: x-large;
  left: 60%;
  top: 63%;
}

.recipePepper {
  width: 45px;
  height: 45px;
  position: absolute;
  background-image: url(./img/recipePepper.png);
  background-size: cover;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  left: 69%;
  top: 47%;
}

.recipePepperCopy {
  width: 45px;
  height: 45px;
  position: absolute;
  background-image: url(./img/recipePepper.png);
  background-size: cover;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  left: 20%;
  top: 64%;
}

.recipeFruit {
  width: 45px;
  height: 45px;
  position: absolute;
  background-image: url(./img/recipeFruit.jpg);
  background-size: cover;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  left: 80%;
  top: 47%;
}

.recipeFruitCopy {
  width: 45px;
  height: 45px;
  position: absolute;
  background-image: url(./img/recipeFruit.jpg);
  background-size: cover;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  left: 25%;
  top: 64%;
}

.recipeFish {
  width: 45px;
  height: 45px;
  position: absolute;
  background-image: url(./img/recipeFish.png);
  background-size: cover;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  right: 22%;
  top: 26%;
}

.recipeFishCopy {
  width: 45px;
  height: 45px;
  position: absolute;
  background-image: url(./img/recipeFish.png);
  background-size: cover;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  left: 30%;
  top: 64%;
}

.frame4 {
  width: 10%;
  height: 80%;
  position: absolute;
  top: 11%;
  right: 5%;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 60px #dfe6f0;
}

.returnButton {
  font-size: x-large;
  position: absolute;
  top: 45%;
  left: 30%;
}

.foodRecHeader {
  position: absolute;
  top: 3%;
  left: 10%;
  font-size: large;
  font-weight: bold;
}
