.text {
  visibility: hidden;
}

.notibItems {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  width: 80px;
}

.eme {
  background-color: rgb(284, 186, 193);
  height: 100px;
  width: 1000px;
  border-radius: 30px;
  display: flex;

  align-items: center;
  box-shadow: 10px 10px 2px #888888;
}

.icon-noti {
  width: 10%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
}

.msg-noti {
  height: 100%;

  width: 73%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.notib {
  background-color: rgb(242, 239, 255);
  height: 100px;
  width: 1000px;
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 10px 10px 2px #888888;
}
.text {
  visibility: hidden;
}
