.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
  height: 100%;
  width: 5vw;
  transition: 200ms;
  z-index: 1;
}

.navDark {
  background-color: grey;
}

.navbarExpand {
  width: 10vw;
  align-items: flex-start;
  padding-left: 8px;
  transition: 500ms;
  z-index: 1;
}
.settingItems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 15.5%;
  width: 80px;
  margin-bottom: 5%;
  background-color: transparent;
}

.foodItems {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4%;
  background-color: transparent;
  height: 75%;
  width: 80px;
}

.navbarDivder {
  position: relative;
  top: 15px;
}
