.weather {
  width: 15%;
  height: 90%;
  background-color: #72EFDD;
  border-radius: 10px;
  padding-bottom: 50px;
  margin-right: 20%;
  box-shadow: 0 0 20px #e2ecf9;
}

.weather-icon img {
  display: block;
  margin: 0 auto;
  width: 35%;
}

.temperature-value p {
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}

.temperature-value span {
  color: #000000;
  font-size: 0.5em;
}

.temperature-description p {
  padding: 8px;
  margin: 0;
  color: #000000;
  text-align: center;
  font-size: 1.5em;
}

.location p {
  margin: 0;
  padding: 0;
  color: #000000;
  text-align: center;
  font-size: 1em;
}
