body {
  margin: 0%;
}
.active {
  display: flex;
  justify-content: space-between;
  background-color: rgb(250, 251, 255);
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: red;
  height: 100%;
  width: 100%;
}

.headerdisplay {
  background-color: white;
  height: 7vh;
  width: 100%;
}

.subContainer {
  display: flex;
  background-color: bisque;
  height: 100%;
  width: 100%;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(250, 251, 255);
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

/*
  navbar items
*/

/*
  temperture
*/

.temperture {
  height: 45%;
  width: 70%;
  margin-left: 15%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 0 60px #e2ecf9;
}


.boxText {
  margin-left: 10%;
}

.boxSubText {
  margin-left: 10%;
  opacity: 30%;
}

.f1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 6%;
}

.fridgeImage {
  width: 30%;
  background-color: aqua;
  border-radius: 20%;
}

.fridgeVal {
  display: flex;
  justify-content: center;
  width: 30%;
  padding: 5%;
  background-color: #f2efff;
  border-radius: 20%;
  font-size: 200%;
}

.notiBoxList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.notiBox {
  background-color: #F2EFFF;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  height: 60px;
  margin: 2.5%;
  padding: 2%;
  border-radius: 15px;
}

.alarmBox {
  background-color: #F8BAC1;
}

.alarmImage {
  width: 15%;
}

/*
  tempertureExpand
*/

.Expand {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: rgb(250, 251, 255);
}

.ExpandContent {
  height: 100%;
  width: 70%;
  background-color: rgb(250, 251, 255);
}

.returnToHome {
  height: 100%;
  width: 20%;
  background-color: aqua;
}

/*
  food-recommandation
*/

.foodRecommandation {
  height: 95%;
  width: 80%;
  background-color: #fff;  
  box-shadow: 0 0 60px #e2ecf9;
  border-radius: 15px;
}
