body {
  margin: 0%;
}
.active {
  display: flex;
  justify-content: space-between;
  background-color: rgb(250, 251, 255);
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: red;
  height: 100%;
  width: 100%;
}

.headerdisplay {
  background-color: white;
  height: 7vh;
  width: 100%;
}

.subContainer {
  display: flex;
  background-color: bisque;
  height: 100%;
  width: 100%;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(250, 251, 255);
  height: 100%;
  width: 100%;
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*
  navbar items
*/

/*
  temperture
*/

.temperture {
  height: 40%;
  width: 60%;
  margin-left: 30%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 0 60px #e2ecf9;
}

.boxText {
  margin-left: 10%;
}

.boxSubText {
  margin-left: 10%;
  opacity: 30%;
}

.f1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 6%;
}

.foodRe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 6%;

  /* zoom-in effect */
  margin-left: 13%;
  width: 400px;
  overflow: hidden;
  outline-offset: -8px;
  position: relative;
  border-radius: 12px;
}

.fridgeImage {
  width: 30%;
  height: 75px;
  background-color: #fff;
  border-radius: 12px;
}

.foodImage {
  width: 400px;
  height: 225px;
  background-color: #fff;
  border-radius: 12px;

  /* zoom-in */
  transition: transform .75s;
  object-fit: cover;
  inset: 0;
}

.foodRe:hover .foodImage{
  transform: scale(1.15);
}

.foodRe:hover .foodImage3{
  transform: scale(1.15);
}

.foodImage3 {
  width: 400px;
  height: 100px;
  background-color: #fff;
  border-radius: 12px;

  /* zoom in effect */
  transition: transform .75s;
  object-fit: cover;
}

.fridgeVal {
  display: flex;
  justify-content: center;
  width: 30%;
  height: 75px;
  padding: 3%;
  background-color: #e3f2fd;
  border-radius: 12px;
  font-size: 200%;
  font-weight: bold;
}

.notiBoxList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.notiBox {
  background-color: #e3f2fd;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  height: 45px;
  margin: 2.5%;
  padding: 2%;
  border-radius: 15px;
}

.notiContent {
  font-size: large;
}

.alarmBox {
  background-color: #f8bac1;
}

.alarmImage {
  width: 15%;
}

/*
  tempertureExpand
*/

.Expand {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: rgb(250, 251, 255);
}

.ExpandContent {
  height: 100%;
  width: 70%;
  background-color: rgb(250, 251, 255);
}

.returnToHome {
  position: relative;
  top: 5%;
  right: 0%;
  height: 90%;
  width: 10%;
  border-radius: 15px;
  background-color: #fff;
  background-position: center;
  box-shadow: 0 0 60px #e2ecf9;
}

.imgHome {
  height: 90px;
  width: 96px;
  position: absolute;
  background-image: url(./img/homepage.png);
  background-size: cover;
  background-position: center;
  top: 40%;
  left: 25%;
}

.textHome {
  position: absolute;
  top: 52%;
  left: 32%;
  font-size: x-large;
  font-weight: bold;
}

/*
  food-recommandation
*/

.foodRecommandation {
  height: 90%;
  width: 85%;
  background-color: #fff;
  box-shadow: 0 0 60px #e2ecf9;
  border-radius: 15px;
}

/*
  note-pad
*/

.notePad {
  height: 90%;
  width: 80%;
  background-color: #fff;
  box-shadow: 0 0 60px #e2ecf9;
  border-radius: 15px;
  transition: 0.5s;
}

.listBox1 {
  margin: 9.5%;
  height: 40%;
  width: 80%;
  background-color: #e3f2fd;
  border-radius: 15px;
  box-shadow: 5px 5px 7px #e2ecf9;
}

.listBox2 {
  margin: 9.5%;
  height: 35%;
  width: 80%;
  background-color: #e3f2fd;
  border-radius: 15px;
  box-shadow: 5px 5px 7px #e2ecf9;
}

.listTitle {
  margin: 3%;
  padding: 3%;
}

.shoppingListImg {
  width: 100%;
}

table {
  border-collapse: separate;
  border-spacing: 70px 0;
}

td {
  padding: 8px 0;
  font-size: 20px;
}
